<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        {{!-- to tell browser what compile i use --}}
        <meta charset="utf-8" />
        <title>diary</title>
    </head>
    <body>
        <header>NAV BAR</header>
        {{{body}}}
    </body>
</html>