header{
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: $primary-bg;
    color:$primary-text;
    height: 70px;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    box-shadow:7px 0 7px  rgba(0,0,0,.3);
    .title{
        line-height: 70px;
    }  
  
}

.hambuger-box{
    float: left;  
    position: relative;
    width: 35px;
    height:35px;
    top: 50%;
    left:1.5rem;
    transform: translateY(-50%);
    cursor: pointer;

}
.hambuger,
.hambuger::after,
.hambuger::before{
    display: block;
    position: absolute;
    background-color: $primary-text;
    border-radius: 3px;
    width: 35px;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
}
.hambuger::after,
.hambuger::before{
    content: "";
    
}
.hambuger::after{
    top: 0;
    transform: translateY(10px);
}
.hambuger::before{
    top: 0;
    transform: translateY(-10px);
}
.hambuger-check{
    float:right;
}
.main{
    padding-top: 80px;
}
.hambuger-check:checked ~ .modal{
    display: block;
    transform: scale(1,1);
    -webkit-transform: scale(1,1);  
}
.modal{
    position:absolute ;
    background-color: $primary-bg;
    display: block;
    top: 70px;
    width: 100%;
    height:100vh;
    
    transform-origin: left;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    transition: all 0.5s ease-in-out ;
}