$size:1rem;
$sizes:(1:$size*0.25,
        2:$size*0.5,
        3:$size*0.75,
        4:$size*1,
        5:$size*1.25
);
    
@each $prop , $abbrev in (margin:m , padding:p){
  @each $num ,$value in ($sizes){
  .#{$abbrev}-#{$num}{
    #{$prop}:$value;
    }
  .#{$abbrev}t-#{$num}{
    #{$prop}-top:$value;
    }
.#{$abbrev}b-#{$num}{
    #{$prop}-bottom:$value;
    }
.#{$abbrev}s-#{$num}{
    #{$prop}-left:$value;
    }
.#{$abbrev}e-#{$num}{
    #{$prop}-right:$value;
    }
  }
}
.m-auto{
 margin:0 auto; 
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
html{
    font-family: 'Noto Sans TC', sans-serif;
}